.Item {
    width: 200px;
    padding: 20px;
    display: inline-block;
    margin: 1rem;
}

.Item__img {
    height: 150px;
}

.Item__name {
    font-weight: 500;
    font-size: 1.25rem;
}

.shopping-cart {
    padding-right: 15px;
}

.card-body {
    text-align: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
